body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: pink;
}

h1 {
    color:rgb(249, 73, 249);
}

.movies {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.movie {
    background:teal;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #007bff;
    color:rgb(156, 249, 248);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #a1ffa6;
}