body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: pink;
}

h1 {
    color:rgb(80, 247, 233);
}

.about_me {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.about_me img{
    background:rgb(70, 255, 132);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #e281ff;
    color:rgb(255, 236, 138);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #fa7b90;
}