<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ spell.name }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container pokemon-detail">
    <h1>{{ spell.name }}</h1>
    <p><strong>Incantation:</strong> {{ spell.incantation }}</p>
    <p><strong>Effect:</strong> {{ spell.effect }}</p>
    <p><strong>Type:</strong> {{ spell.type }}</p>
    <p><strong>Light:</strong> {{ spell.light }}</p>
    <p><strong>Creator:</strong> {{ spell.creator }}</p>
    <p><strong>Can Be Verbal:</strong> {{ "Yes" if spell.canBeVerbal else "No" }}</p>
  </div>
</body>
</html>